<%= render "header" %>

<% if user_signed_in? %>
  <%= link_to '予定を入れる', new_calendar_path %>
<% end %>
<%= month_calendar events: @calendars do |date, calendars| %>
  <%= date.day %>

  <% calendars.each do |calendar| %>
    <div>
    <% if user_signed_in? %>
      <% if calendar.user_id == current_user.id %>
        <%= link_to calendar.title, calendar %>
      <% end %>
    <% end %>
    </div>
  <% end %>
<% end %>